/* put your custom css here. */

.username-_4ZSMR:before { content: '<'; }
.username-_4ZSMR:after { content: '>'; }
/* .activityText-sLG0UL {
    font-family: menlo;
} */

a, abbr, acronym, address, applet, big, blockquote, body, caption, cite, dd, del, dfn, div, dl, dt, em, fieldset, form, h1, h2, h3, h4, h5, h6, html, iframe, img, ins, kbd, label, legend, li, object, ol, p, pre, q, s, samp, small, span, strike, strong, sub, sup, table, tbody, td, tfoot, th, thead, tr, tt, ul, var, textarea, input {
    font-family: sans-serif;
}

/* div, span {
    font-size: 14px;
} */

code, span {
    font-family: iosevka m;
}
